@charset "utf-8";


body {
    margin-top: 2em;
    margin-left: 6em;
    margin-right: 15em;
    margin-bottom: 2em;
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: white;
}

/***************************************************************************/
/*   toc     ***************************************************************/
/***************************************************************************/

div.toc dl dt {
    font-weight: normal
}

*.toc p, div.list-of-examples p {
    font: small-caps 105% sans-serif;
    color: #005A9C;
}

*.toc {
    margin-top: 3em
}

nav#toc li {
    list-style-type:none;
}

nav#toc > ol > li > span > a {
    color: #0000ff
}
nav#toc > ol > li > ol > li > a {
    color: #0033ff
}
nav#toc > ol > li > ol > li > ol > li > a {
    font-size: .9em;
    color: #0066ff;
}
nav#toc > ol > li > ol > li > ol > li > ol > li > a {
    font-size: .9em;
    color: #0099ff
}
nav#toc > ol > li > ol > li > ol > li > ol > li > ol > li > a {
    font-size: .9em;
    color: #0099ff
}
nav#toc > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li  > a {
    font-size: .9em;
    color: #0099ff
}

nav#toc > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > a {
    font-size: .9em;
    color: #0099ff
}


/***************************************************************************/
/*   headings   ************************************************************/
/***************************************************************************/

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: #005A9C;
}
h1 {
    font: 170% sans-serif;
    padding-bottom: 0.6em;
}
h2 {
    font: 140% sans-serif;
    padding-top: 0.5em;
    border-bottom: 1px solid #005A9C;
}
h3 {
    font: 120% sans-serif;
    padding-top: 1.5em;
}
h4 {
    font: bold 110% sans-serif;
    padding-top: 1.2em;
}
h5 {
    font: italic 105% sans-serif
}
h6 {
    font: italic 100% sans-serif
}
p.bridgehead {
    font: 110% sans-serif;
    padding-top: 0.7em;
    color: #005A9C;
}

.inote{
    font: italic 80% sans-serif
}

.break{
    page-break-before:always;
}
/***************************************************************************/
/* links *******************************************************************/
/***************************************************************************/

a.glossterm {
    color: black;
    text-decoration: none;
    border-bottom : 1px dotted rgb(210,210,210);
}
a.biblioref {
    color: #0000FF;
    text-decoration: none;
}
a.glossterm:hover, a.biblioref:hover {
    text-decoration: underline;
    background-color: white;
    color: #0000FF;
}

/***************************************************************************/
/* "link here" anchor  *****************************************************/
/***************************************************************************/

a.hidden-reveal {
    color: #005A9C;
}
a.hidden-reveal:link {
    text-decoration: none;
    color: #005A9C;
}
a.hidden-reveal:visited {
    text-decoration: none;
    color: #005A9C;
}
a.hidden-reveal:hover {
    text-decoration: underline;
    background-color: #005A9C;
    color: #FFFFFF;
}
a.hidden-reveal:active {
    text-decoration: none;
    color: #005A9C;
}


/***************************************************************************/
/*  table      *************************************************************/
/***************************************************************************/

table {
    font-family: sans-serif;

    border: none;
    border-spacing: 0px;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
th {
    /*border: 1px solid #005A9C;*/
    /*font-weight: bold;*/
    padding: 0.3em;
    font-weight: bold;
    text-align: left;
    font-size: 90%
}
td {
    /*border: 1px solid #005A9C;*/
    padding: 0.3em;
    text-align: left
}
td *, td > * {
    text-align: left;
}
table, tbody {
    padding: 0;
}




/* index */
.groupletter {
    font-weight: bold;
    font-size: large;
    text-align: left;
    text-indent: 120px;
}

.indexhead1 {
    text-align: left;
    text-indent: -40px;
    margin-left: 40px;
}

.indexlevel1 {
    text-align: left;
    list-style: none;
}

.indexhead2 {
    text-align: left;
    text-indent: -40px;
    margin-left: 10px;
}

.indexlevel2 {
    text-align: left;
    list-style: none;
}




/*headBox*/

.headBox {
    margin-bottom: 1em; 
    padding:0.5em;
}

.servingBox{
    display:inline; 
    float:left; 
    text-align: left;
    color: #005A9C;
    font: italic 105% sans-serif;
}

.qualityBox {
    display:inline; 
    float:right;


}/*preparation**/
.text{
    font-family: sans-serif;
}

.preparation{
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.step{
    margin-bottom: 0.3em;
}

.text{
    margin-bottom: 0.2em;
}
pre{
    font-family: sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify; 
}

.box{
    font-family: sans-serif;
    text-align: justify; 
}

.recipe{
    max-width:800px

}

.image{

    max-width:500px
}

.icon{
    display:inline; 
    max-width:20px
}

